body {
    font-family: Arial, sans-serif;
    background-color: #f7d2d2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #797777;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h1 {
    margin:0;
    font-size: 30px;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3{
    text-align: center;
}
nav {
    text-align: center;
    background-color: #0c0000;
    padding: 15px;
}
 a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}
nav a:hover {
    text-decoration: underline rgb(173, 5, 151) ;
}
.container {
            max-width: 960px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content {
            padding: 30px;
}
.card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
}
.r-image{
            max-width: 100%;
            border-radius: 5px;
            
}

.search-bar {
            text-align: center;
            margin: 30px;
}


.action {
            text-align: center;
            margin: 20px 0;
        }

.action-button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }